html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.headerContainer{
	margin:0 10px 0 0;
	width: 100%;
	height:60px;
	background-color: #4a4d50;
	box-shadow: 1px 2px 1px #58AEF1;
	z-index:1;
}
.headerNav{
	width:960px;
	height:60px;
	margin:0 20%;
	overflow:hidden;
}
a{
	text-decoration: none;
	color: white;
}
.headerNav li{
	display:inline-block;
	width: 19%;
	height:60px;
	padding-top:20px;
	text-align: center;
	color:white;
}
.headerNav a{
	text-decoration: none;
}
a:hover{
	color: #58AEF1;
}
.headerNav li:hover{
	background-color:#f4f4f4;
	color: #58AEF1;
}
.mainContent{
	width:960px;
	height:100%;
	margin:3px 20%;
	overflow:hidden;
	background-color:#f4f4f4;
}
img{
	width:300px;
	height:auto;
}